<!-- Main Header Fragment --- Styled in layout.css -->

 <div th:fragment="header">
    <header> <!-- Navigation Bar -->
        <i class='fas fa-comment-alt'></i> <!-- inbox icon -->
        <a href="/home">Pet Connect</a> <!-- Home Navigation + App Name -->
    
        <div class="right-icons-container">
            <a href="/login">  <!-- Anchor so on-click of profile, navigates to login -->
                <i class='fas fa-user-circle'></i> <!-- profile icon -->
            </a>
            
            <i class="fas fa-heart"></i> <!-- favorites icon -->
        </div>
    </header>
 </div>
