/* TODO --- USER DASHBOARD STYLING */

h1 {
    color: #60402b;
}

a {
    text-decoration: none;
    color: #fff;
}

/* New CSS for dashboard.html */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.convert-to-rescuer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
}

.profile-card, .rescuer-card  {
    background-color: #ede0d4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px;
    position: relative; /* Add this to position the clear button relative to the profile card */
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.clear-profile-button-resc {
    top: 122px; /* Adjust this value to position the button right under the image */
}

.clear-profile-button {
    top: 105px; /* Adjust this value to position the button right under the image */
}

.clear-profile-button, .clear-profile-button-resc {
    position: absolute;
    right: calc(50% - 53px); /* Adjust this value to position the button to the right of the image */
    background-color: #b08968;
    border: none;
    border-radius: 50%;
    color: #ede0d4;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
    transition: background-color 0.6s ease-in-out;
}

.clear-profile-button:hover, .clear-profile-button-resc:hover {
    background-color: #917055;
    transition: background-color 0.6s ease-in-out;
}

.profile-card h2, .convert-to-rescuer-container h2 {
    color: #7f5539;
    margin: 10px 0 2px 0; /* Adjusted value to reduce the space below the username */
}

.profile-card p, .rescuer-card p, .rescuer-card li {
    color: #bb997d;
    font-size: 14px;
    margin-top: 2px; /* Adjusted value to reduce the space above the email */
    margin-bottom: 30px; /* Added value to increase the space below the email */
}

#editButton, #convert-button {
    background-color: #b08968;
    border-radius: 4px;
    border: none;
    padding: 3px 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ede0d4;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out;
}

#editButton:hover, #convert-button:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #917055;
    color: #ede0d4;
}

form {
    display: flex;
    flex-direction: column; /* Change to column to stack divs vertically */
    gap: 3px; /* Add gap between divs */
    align-items: center;
}

form div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center; /* Align items vertically */
    justify-content: center;
}

form label {
    width: 100px; /* Set a fixed width for labels */
    text-align: left; /* Align text to the right */
    margin-right: 10px; /* Add some space between label and input */
    white-space: nowrap; /* Prevent labels from wrapping */
    color: #b08968; /* Change label text color */
}

/* custom width for rescuer ID label */
#rescuer-form label {
    width: 120px;
}

form input[type="text"], form input[type="number"], select, input[type="file"], textarea {
    width: 200px; /* Set a fixed width for text input */
    color: #ede0d4;
    background-color: #bb997d;
    border: none;
    border-radius: 4px;
    padding: 4px 5px; /* Add some padding for better appearance */
    transition: b0x-shadow 0.6s ease-in-out;
}

select {
    width: 210px;
}

form input[type="text"]:focus, form input[type="number"]:focus {
    outline: none;
    box-shadow: inset 0 0 15px #b08968; /* Add inner shadow for highlight */
    transition: box-shadow 0.6s ease-in-out;
}

form input[type="text"]:hover, form input[type="number"]:hover {
    outline: none;
    box-shadow: inset 0 0 20px #b08968; /* Add inner shadow for highlight */
    transition: box-shadow 0.6s ease-in-out;
}

.custom-file-button {
    width: 210px; /* Set the same fixed width for the custom file button */
    background-color: #bb997d;
    border: none;
    border-radius: 4px;
    padding: 2px 10px;
    color: #ede0d4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    transition: background-color 0.6s ease-in-out;
    gap: 5px;
}

.custom-file-button i {
    font-size: 12px;
}

.custom-file-button:hover {
    transition: background-color 0.6s ease-in-out;
    background-color: #b08968;
    border: none;
    border-radius: 4px;
    padding: 2px 10px;
    color: #ede0d4;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out;
}

.save-changes-button {
    margin-left: 0; /* Shift the button to the left */
    background-color: #bb997d;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    color: #ede0d4;
    cursor: pointer;
    transition: background-color 0.6s ease-in-out;
    width: 360px;
    margin-top: 15px;
}

.save-changes-button:hover {
    background-color: #b08968;
    transition: background-color 0.6s ease-in-out;
}

#rescuer-Id {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: right;
}

#maintext { /* make space between rescuer text minimal */
    margin: 0;
    padding: 0;
}

#subtext {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px; /* possibly add a divider */
    padding: 0;
    width: 380px;
    font-size: 11px;
    color: rgb(198, 173, 153);
}

.light-italic-text {
    font-style: italic;
    color: #bb997d; /* Lighter color */
    font-size: 13px;
}