/* Main Header */
header {
    display: flex;
    padding: 2rem;
    background-color: #b08968;
    justify-content: space-between;
    align-items: center;
    transition: transform 1s cubic-bezier(0.25, 0.8, 0.5, 1);
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}


header.hidden {
    transform: translateY(-100%);
}

header a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
header i {
    padding: 1rem;
    font-size: 27px; /* Change menu icon size */
}

#home-title {
    margin-top: 5rem;
}


.fas.fa-comment-alt {
    padding-right: 71.38px;
}