
/* CONTENT THAT'S CONSISTENT ACROSS SITE */

/* Main header */
header {
    display: flex;
    padding: 2rem;
    background-color: #b08968;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
    /* TODO: Implement transition between pages with header and without */
}

/* header links formatting */
header a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

/* header icons formatting */
header i {
    padding: 1rem;
    font-size: 27px; /* Change menu icon size */
}

/* Compensated padding for left-navigation icons to keep equal distance on either side.
If additional icon is added, should remove padding.
*/
.fas.fa-comment-alt {
    padding-right: 71.38px;
}