/* WEBSITE STYLING */

/* Home Page Body Structure */
body {
    text-align: center;
    background-color: #aaa89e82;
    margin: 0;
    padding: 0;
}

/* Main Header */
header {
    display: flex;
    padding: 2rem;
    background-color: #80796382;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #333;
}

#home-title {
    margin-top: 5rem;
}

header i {
    padding: 1rem;
    font-size: 20px;
}

.fas.fa-comment-alt {
    padding-right: 71.38px;
}

/* Pet profile section */
.profiles {
    min-height: 50vw; /* Change to fit to the view port width */
    margin: 4vw;
    background-color: #80796382
}

/* Search bar in pet-profile section */
.search-profiles {
    background-color: #79766c82;
    padding: 2rem;
}

header i {
    justify-content: right;
}


