<!DOCTYPE html>

<!-- HOMEPAGE STRUCTURE -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">

</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div> <!-- header fragment to display -->
    
    <div class="container">
        <div class="profiles"> <!-- Region for Pet Profile Tiles -->
            <div class="search-profiles"> <!-- Search bar -->
                <form action="#"> <!-- implemented Search bar -->
                    <input type="text" placeholder="Search Profiles" name="search">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
<!-- TODO: create favorites modal (popup on main page on click of icon) -->
</html>
