<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Filter</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link rel="icon" type="image/png" th:href="@{/favicon.png}">
        <style>
            .modal-value {
                margin-left: 10px;
                color: #b08968;
            }
        </style>
    </head>
    <body>
        <div th:insert="~{fragments/header :: header}"></div> <!-- header fragment to display -->

        <div th:if="${not#lists.isEmpty(pets)}"> <!-- show filter table if not empty -->
            <input type="text" id="searchInput" placeholder="Search"> <!-- intended to be a search bar by which to filter the table-->
            <table>
                <thead>
                    <tr> <!-- pet attributes -->
                        <th>petID</th>
                        <th>name</th>
                        <th>breed</th>
                        <th>type</th>
                        <th>age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pet : ${pets}"> <!-- pet attributes, intended to link with backend-->
                        <td th:text="${pet.petID}"></td>
                        <td th:text="${pet.name}"></td>
                        <td th:text="${pet.breed}"></td>
                        <td th:text="${pet.type}"></td>
                        <td th:text="${pet.age}"></td>
                    </tr>
                </tbody>
            </table>
            <span id="noMatch" style="display:none;">
                No items match your search
            </span>
        </div>

        <!-- Define the petModal as a fragment for displaying pet details on click -->
        <div th:fragment="petModal">
            <div id="petModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closePetModal()">&times;</span>
                    <h2 id="modalPetName">Pet Name</h2>
                    <img id="modalPetImage" src="" alt="Pet Image" class="modal-pet-image">
                    <p id="modalPetAdoptionStatus">Adoption Status: </p>
                    <p id="modalPetFee">Fee: </p>
                    <p id="modalPetDescription">Description: </p>
                    <p id="modalPetType">Type: </p>
                    <p id="modalPetBreed1">Breed 1: </p>
                    <p id="modalPetBreed2">Breed 2: </p>
                    <p id="modalPetColor1">Color 1: </p>
                    <p id="modalPetColor2">Color 2: </p>
                    <p id="modalPetColor3">Color 3: </p>
                    <p id="modalPetLocation">Location: </p>
                    <p id="modalPetMaturitySize">Maturity Size: </p>
                    <p id="modalPetAge">Age: </p>
                    <p id="modalPetGender">Gender: </p>
                    <p id="modalPetHealthStatus">Health Status: </p>
                    <p id="modalPetVaccinationStatus">Vaccination Status: </p>
                    <p id="modalPetSterilized">Sterilized: </p>
                    <p id="modalPetDewormed">Dewormed: </p>
                    <p id="modalPetFurLength">Fur Length: </p>
                </div>
            </div>
        </div>

        <!-- Define the JavaScript functions as a fragment -->
        <div th:fragment="petModalScripts">
            <script th:inline="javascript">
                /*<![CDATA[*/

                // formatting for opening the pet modal to display pet information
                function openPetModal(petId) {
                    fetch(`/pet/${petId}`)
                    .then(response => response.json())
                    .then(pet => {
                        document.getElementById('modalPetName').innerHTML = pet.name;
                        document.getElementById('modalPetImage').src = pet.photoUrl;
                        document.getElementById('modalPetAdoptionStatus').innerHTML = 'Adoption Status: <span class="modal-value">' + pet.adoptionStatus + '</span>';
                        document.getElementById('modalPetFee').innerHTML = 'Fee: <span class="modal-value">$' + pet.fee + '</span>';
                        document.getElementById('modalPetType').innerHTML = 'Type: <span class="modal-value">' + pet.type + '</span>';
                        document.getElementById('modalPetBreed1').innerHTML = 'Breed 1: <span class="modal-value">' + pet.breed1 + '</span>';
                        if (pet.breed2) {
                            document.getElementById('modalPetBreed2').innerHTML = 'Breed 2: <span class="modal-value">' + pet.breed2 + '</span>';
                            document.getElementById('modalPetBreed2').style.display = 'block';
                        } else {
                            document.getElementById('modalPetBreed2').style.display = 'none';
                        }
                        document.getElementById('modalPetColor1').innerHTML = 'Color 1: <span class="modal-value">' + pet.color1 + '</span>';
                        if (pet.color2) {
                            document.getElementById('modalPetColor2').innerHTML = 'Color 2: <span class="modal-value">' + pet.color2 + '</span>';
                            document.getElementById('modalPetColor2').style.display = 'block';
                        } else {
                            document.getElementById('modalPetColor2').style.display = 'none';
                        }
                        if (pet.color3) {
                            document.getElementById('modalPetColor3').innerHTML = 'Color 3: <span class="modal-value">' + pet.color3 + '</span>';
                            document.getElementById('modalPetColor3').style.display = 'block';
                        } else {
                            document.getElementById('modalPetColor3').style.display = 'none';
                        }
                        document.getElementById('modalPetLocation').innerHTML = 'Location: <span class="modal-value">' + pet.location + '</span>';
                        document.getElementById('modalPetMaturitySize').innerHTML = 'Maturity Size: <span class="modal-value">' + pet.maturitySize + '</span>';
                        document.getElementById('modalPetAge').innerHTML = 'Age: <span class="modal-value">' + pet.age + ' months</span>';
                        document.getElementById('modalPetGender').innerHTML = 'Gender: <span class="modal-value">' + pet.gender + '</span>';
                        document.getElementById('modalPetHealthStatus').innerHTML = 'Health Status: <span class="modal-value">' + pet.healthStatus + '</span>';
                        document.getElementById('modalPetVaccinationStatus').innerHTML = 'Vaccination Status: <span class="modal-value">' + pet.vaccinationStatus + '</span>';
                        document.getElementById('modalPetSterilized').innerHTML = 'Sterilized: <span class="modal-value">' + pet.sterilized + '</span>';
                        document.getElementById('modalPetDewormed').innerHTML = 'Dewormed: <span class="modal-value">' + pet.dewormed + '</span>';
                        document.getElementById('modalPetFurLength').innerHTML = 'Fur Length: <span class="modal-value">' + pet.furLength + '</span>';
                        document.getElementById('modalPetDescription').innerHTML = 'Description: <span class="modal-value">' + pet.description + '</span>';
                        document.getElementById('petModal').style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching pet details:', error));
                }

                // function to close pet modal
                function closePetModal() {
                    document.getElementById('petModal').style.display = 'none';
                }
                /*]]>*/
            </script>
        </div>
    </body>
</html>